@use "utils" as *;

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;

  .container {
    width: min(100%, 54rem);
    margin: 10.9rem 3rem;

    // checkbox
    .checkbox-circle {
      @extend %checkbox-circle;

      &.checked {
        background: url("../images/icon-check.svg") center no-repeat,
          var(--checkbox-filled);
      }

      &:hover {
        border-color: var(--checkbox-empty-hover);
      }
    }

    // cover background
    .bg-cover {
      width: 100%;
      min-height: 30rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--body-mobile-bg-img);
      background-size: cover;
      z-index: -1;

      @include desktop {
        background: var(--body-desktop-bg-img);
      }
    }

    // header
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 1.4rem;

      .theme-switch {
        --size: 3rem;
        width: var(--size);
        height: var(--size);
        position: relative;
        transition: 2s;
        overflow: hidden;
        border-radius: 50%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: var(--transition-1);
        }

        &.dark {
          img:first-of-type {
            transform: translate(50%, -200%);
            opacity: 0;
          }
        }
        &.light {
          img:last-of-type {
            transform: translate(-150%, 110%);
            opacity: 0;
          }
        }
      }
    }

    main {
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: var(--box-shadow);

      // input field
      .input-container {
        display: flex;
        background: var(--task-bg);
        margin-bottom: 1.8rem;
        border-radius: var(--border-radius);
        overflow: hidden;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1.9rem;
        box-shadow: var(--box-shadow);

        input {
          width: 100%;
          min-height: var(--min-task-height);
          border: none;
          background: transparent;
          color: var(--text-color-1);

          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
      }

      // tasks list
      .tasks-container {
        min-height: 27rem;
        background: var(--task-bg);
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        .task {
          width: 100%;
          min-width: 10rem;
          height: var(--min-task-height);
          flex-basis: 100%;

          display: flex;
          align-items: center;
          justify-content: baseline;
          gap: 2rem;

          border-bottom: 0.1rem solid var(--task-border);
          padding: 0 2.3rem;

          cursor: grab;

          &-done {
            h2 {
              color: var(--text-color-2);
              text-decoration: line-through solid var(--text-color-2);
            }
          }

          input {
            accent-color: transparent;
          }

          h2 {
            margin-right: auto;
            font-weight: 400;
            font-size: 1.8rem;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
          }

          button {
            --size: 1.8rem;
            width: var(--size);
            height: var(--size);
            background: url("../images/icon-cross.svg") center no-repeat,
              transparent;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }

      // footer
      .nav-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, var(--min-task-height));
        row-gap: 1.5rem;
        --padding: 2.3rem;
        color: var(--text-color-2);
        font-weight: 700;

        button {
          background: transparent;
          color: var(--text-color-2);
          font-weight: 700;
          border: none;
          outline: none;
          cursor: pointer;
          text-transform: capitalize;

          &.active-tab {
            color: var(--text-color-3);
          }
        }

        .tabs-container {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-column: 1 / span 2;
          grid-row: 2 / span 1;
          background: var(--task-bg);
        }

        .clear-completed-btn {
          text-align: right;
          padding-right: var(--padding);
          background: var(--task-bg);
        }

        p {
          display: flex;
          justify-content: baseline;
          align-items: center;
          padding-left: var(--padding);
          background: var(--task-bg);
        }

        @include desktop {
          min-height: var(--min-task-height);
          grid-template-columns: repeat(3, 33.33%);
          grid-template-rows: repeat(1, var(--min-task-height));
          background: var(--task-bg);

          .tabs-container {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
          }
        }
      }
    }
  }
}
