@use "utils" as *;

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;

  .container {
    margin-top: 10.9rem;

    // cover background
    .bg-cover {
      width: min(100vw, 150rem);
      min-height: 30rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--body-mobile-bg-img);
      background-size: cover;
      z-index: -1;

      @include desktop {
        background: var(--body-desktop-bg-img);
      }
    }

    // header
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 1.4rem;

      .theme-switch {
        --size: 3rem;
        width: var(--size);
        height: var(--size);
        position: relative;
        transition: 2s;
        overflow: hidden;
        border-radius: 50%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: var(--transition-1);
        }

        &.dark {
          img:first-of-type {
            transform: translate(50%, -200%);
            opacity: 0;
          }
        }
        &.light {
          img:last-of-type {
            transform: translate(-150%, 110%);
            opacity: 0;
          }
        }
      }
    }

    .task {
      display: flex;
      margin-bottom: 1.5rem;
      gap: 2rem;
      background: var(--task-bg);
    }
  }
}
