$body-clr: #000000;
$main-bg-clr: #f5f7fb;
$text-clr: #ffffff;
$answer-border-clr: #4d5b9e;
$selected-answer-clr: #d6dbf5;
$correct-answer: #94d7a2;
$wrong-answer: #f8bcbc;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  text-align: left;
}
